.scv-banner {
    border-radius: 2px;
    font-size: 80%;
    text-align: center;
    background: linear-gradient(-45deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
    background-size: 28px 28px;
}

.scv-rtd {
    color: white;
    background-color: #2980B9;
}

.scv-rtd > a {
    color: white;
}

.scv-generic {
    color: white;
    background-color: #d40;
}

.scv-generic > a {
    color: white;
}
